.card {
  width: 300px;
  border: 1px solid gray;
  display: inline-block;
  margin-bottom: 20px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 10px;
  color: rgb(73, 73, 73);
}

.card-text {
  font-size: 0.9em;
  color: gray;
  line-height: 1.5em;
}

.card-img {
  width: 100%;
  display: block;
}

.card-rating {
  color: var(--primary);
  margin-bottom: 10px;
}

.card-price {
    font-weight: bold;
    margin-bottom: 10px;
    
}
.card-price-currency {
    color: gray;
    font-size: 1em;
}
.card-price-amount {
    font-size: 1.6em;
  color: rgb(73, 73, 73);
    
}
