@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

main {
  padding: 40px;
  perspective: 1000px;
}

.main-title {
  margin-bottom: 40px;
}

.box-title {
  margin-bottom: 20px;
}

.box-text {
  line-height: 1.5em;
}

.box {
  background: #86dfff;
  padding: 40px;
  margin-bottom: 20px;
}

.ani-delay-500 {
  animation-delay: 500ms;
}

.ani-delay-1000 {
  animation-delay: 1000ms;
}

.ani-delay-1500 {
  animation-delay: 1500ms;
}

@keyframes slide-in-left {
  from {
    transform: translate(-120%);
  }
  to {
    transform: translate(0px);
  }
}

.slide-in-left {
  animation-name: slide-in-left;
  animation-duration: 500ms;
  animation-fill-mode: backwards;
  /* animation: slide-from-left 500ms linear  1 normal; */
}

.slide-out-right {
  animation-name: slide-out-right;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes slide-out-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(120%);
  }
}

/* slide */
.slide-in-bottom {
  animation-name: slide-in-bottom;
  animation-duration: 500ms;
  animation-fill-mode: backwards;
}
@keyframes slide-in-bottom {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.slide-out-bottom {
  animation-name: slide-out-bottom;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes slide-out-bottom {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(50px);
    opacity: 0;
  }
}

/* fade */

.fade-in {
  animation-name: fade-in;
  animation-duration: 500ms;
  animation-fill-mode: backwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out {
  animation-name: fade-out;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* scale - zoom */

.zoom-in {
  animation-name: zoom-in;
  animation-duration: 500ms;
  animation-fill-mode: backwards;
}

@keyframes zoom-in {
  from {
    /* transform: scale(0.5); */
    scale: 0.5;
    opacity: 0;
  }
  to {
    /* transform: scale(1); */
    scale: 1;

    opacity: 1;
  }
}

.zoom-out {
  animation-name: zoom-out;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes zoom-out {
  from {
    /* transform: scale(0.5); */
    scale: 1;
    opacity: 1;
  }
  to {
    /* transform: scale(1); */
    scale: 0.5;
    opacity: 0;
  }
}

/* rotate */

.rotate-in {
  animation-name: rotate-in;
  animation-duration: 500ms;
  animation-fill-mode: backwards;
  transform-origin: left;
}

@keyframes rotate-in {
  from {
    /* translate: -150%;
    rotate: 50deg;
    scale: 0.5; */
    rotate: y 50deg;
    opacity: 0;
  }
  to {
    /* translate: 0%;
    rotate: 0;
    scale: 1; */
    rotate: x 0deg;
    opacity: 1;
  }
}

/* shake */

.shake {
  animation-name: shake;
  animation-duration: 1000ms;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
}

@keyframes shake {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }

  15% {
    transform: translateX(50px);
  }

  30% {
    transform: translateX(-60px);
    opacity: 1;
  }

  45% {
    transform: translateX(60px);
  }

  60% {
    transform: translateX(-30px);
  }

  80% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0px);
  }
}
