@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');

@font-face {
    font-family: "gg" ;
    /* src: url("../fonts/MyanmarGantGaw.ttf"); */
    src: url(../fonts/MyanmarSagar.ttf);
}

*{
    padding: 0;
    margin: 0;
}

.mm-text{
    font-family: 'Fuggles',"gg";
    line-height:2em;
    letter-spacing: 1px;
    /* background-color: skyblue;
    height: 50vh; */

}


.col-box{
    columns: 3 200px;
    column-gap: 0;
}

.box{
    background:gray;

    /* width: 800px;fix */

    /* max-width: 800px; */
    min-width: 800px;
}

body{
    counter-reset: forh3;
}

h3{
    counter-increment: forh3;
    /* background:gray; */
    /* height: 100vh; */

}

h3::before{
    content: counter(forh3) ". ";

}

.poe-img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border: 2px solid black;
}

.col-box {

    &:hover{
        background:lightcoral;
    }

    .mm-text{
        color: pink;
    }
}

/* .col-box:hover{

} */