@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}


header{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid black;
    padding: 25px 50px;
    align-items: center;
    position: fixed;
    width: 100vw;
    background: white;
    z-index: 3;
}

.header-spacer{
    height: 100px;
}

.header-brand{

    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.7em;
}   


.menu{

}

.menu-btn{
    background: #000;
    color: white;
    border: none;
    padding: 10px 15px;
}

.menu-btn:focus+.nav-menu,.menu-btn.active+.nav-menu{
    transform: translateX(0);
    /* opacity: 1;
    translate: 0;
    scale: 1; */
    /* transform: translateX(0) scale(1); */

    /* transform: rotate(0deg); */

    /* opacity: 1;
    pointer-events: all; */


}



.nav-menu{
    position: fixed;
    width: 230px;
    background-color: white;
    height: 100vh;
    right: 0;
    top: 0;
    padding: 150px 20px;
    z-index: 1;
    border-left: 3px solid black;
    
/* 
    opacity: 0;
    transition: 500ms;
    pointer-events: none; */

    /* transform: rotate(90deg);
    transform-origin: -28% 85%;
    transition: 0.5s; */


    transform: translateX(100%);
    transition: 500ms;
    /* transform: translateX(100%) scale(0); */
    /* translate: 100%;
    scale: 0;
    transition: 500ms; */
    /* opacity: 0; */
}
.nav-link{
    display: block;
    text-decoration: none;
    color: black;
    margin-bottom: 20px;
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;


}

.nav-link.active{
    background-color: #000;
    color: white;
}

.box{
    padding: 25px 50px;
}

.box p {
    margin-bottom: 20px;
}

.dropdown{
    display: inline-block;
    position: relative;
}
.dropdown-btn{
    background-color: #000;
    color: white;
    padding: 10px 15px;
    border: none;
    position: relative;
}

.dropdown-btn:focus+.dropdown-menu{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);

}

/* .dropdown-btn .fa-angle-up{
    rotate: 0deg;
    transition: 500ms;
}

.dropdown-btn:focus .fa-angle-up{
    rotate: 180deg;
} */

.dropdown-btn::after{
    font-family: "Font Awesome 5 Free";
    content: "\f068";
    font-weight: 900;
    transition: 300ms;
    /* width: 10px;
    height: 10px;
    background-color: red; */
    /* position: absolute;
    rotate: z 0deg;
    transition: 300ms; */
}

.dropdown-btn:focus::after{
    /* rotate: z 45deg; */
    content: "\2b";
    
}

.dropdown-menu{
    border: 2px solid black;
    padding: 10px;
    position: absolute;
    /* right: -170px; */
    top: 100%;
    left: 0;
    background-color: white;
    width: 170px;
    opacity: 0;
    pointer-events: none;
    transition-property: opacity, transform;
    transition-duration: 200ms, 500ms;
    transform: translateY(20px);
}



.dropdown-link{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 0.8em;
}

.dropdown-link.active{
    background-color: #000;
    color: white;
}